@media (max-width: 1199.98px) {

  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {

  .container {
    max-width: 720px;
  }

  .hero__title {
    font-size: 50px;
  }

  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }

  .item__svg {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hero__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero__flex-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__left {
    padding-top: 130px;
    padding-bottom: 133px;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 17px;
  }

  .hero__rigth {
    padding-bottom: 30px;
  }

  .about__container {
    padding-bottom: 74px;
  }

  .content__info {
    width: 65%;
  }

  .about__title {
    margin-right: 0;
  }

  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .item__svg {
    margin-right: 0;
    margin-bottom: 7px;
  }

  .teachers__container {
    padding-bottom: 74px;
  }

  .teachers__item:nth-child(-n+2) {
    margin-bottom: 24px;
  }

  .teachers__info {
    padding: 0;
  }

  .teachers--fsize-mod {
    font-size: 15.9px;
  }

  .courses__container {
    padding-bottom: 81px;
  }

  .card__content {
    padding-right: 22px;
  }

  .card__descr {
    margin-bottom: 30px;
  }

  .card--padding-text {
    padding-right: 2px;
  }

  .card__btn--mod {
    padding: 20px 56px;
  }

}

@media (max-width: 767.98px) {

  .container {
    max-width: 540px;
  }

  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }


  .header__logo {
    margin-bottom: 29px;
  }

  .hero__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero__left {
    padding-top: 80px;
    padding-bottom: 133px;
  }


  .hero__rigth {
    display: none;
  }

  .about__container {
    padding-bottom: 54px;
  }

  .up__content {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }

  .content__img {
    width: 29.6%;
  }

  .courses__container {
    padding-bottom: 80px;
  }

  .courses__item:nth-child(-n+2) {
    margin-bottom: 31px;
  }

  .card__title {
    line-height: 125%;
    margin-bottom: 9px;
  }

  .card--padding-text {
    padding-right: 5px;
  }

  .card__descr {
    margin-bottom: 33px;
  }

  .card__btn--mod {
    padding: 20px 49px;
  }

  .footer__container {
    padding-top: 28px;
  }

}

@media (max-width: 575.98px) {

  .container {
    max-width: 320px;
  }

  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
  }

  .header__logo {
    margin-bottom: 0;
    z-index: 1001;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 37%;
  }

  .no-scroll {
    overflow: hidden;
  }

  .header__nav {
    position: absolute;
    top: 0px;
    right: 0;
    background: -o-radial-gradient(50.78% 18.93%, 45.07% 39.07%, #555681 -71%, #212133 108%);
    background: radial-gradient(45.07% 39.07% at 50.78% 18.93%, #555681 -71%, #212133 108%);
    height: 100vh;
    width: 100%;
    padding: 110px 80px;
    -webkit-transform: translate(0, -1000px);
        -ms-transform: translate(0, -1000px);
            transform: translate(0, -1000px);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .header__nav--active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .nav-burger
.nav-burger__line:nth-child(2) {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.nav-burger
.nav-burger__line:first-child {
            -webkit-transform: translateY(10.5px) rotate(45deg);
                -ms-transform: translateY(10.5px) rotate(45deg);
                    transform: translateY(10.5px) rotate(45deg);
            -webkit-transform-origin: center;
                -ms-transform-origin: center;
                    transform-origin: center;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.nav-burger
.nav-burger__line:last-child {
            -webkit-transform: translateY(-10.5px) rotate(-45deg) ;
                -ms-transform: translateY(-10.5px) rotate(-45deg) ;
                    transform: translateY(-10.5px) rotate(-45deg) ;
            -webkit-transform-origin: center;
                -ms-transform-origin: center;
                    transform-origin: center;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}





  .header__burger {
    display: block;
    z-index: 1001;
  }

  /* Burger!!! */

  .burger--active
  .burger__line:nth-child(2) {
      opacity: 0;
      -webkit-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out;
  }

  .burger--active
  .burger__line:first-child {
      -webkit-transform: translateY(4.5px) rotate(45deg);
          -ms-transform: translateY(4.5px) rotate(45deg);
              transform: translateY(4.5px) rotate(45deg);
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      -o-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .burger--active
  .burger__line:last-child {
      -webkit-transform: translateY(-9.5px) rotate(-45deg) ;
          -ms-transform: translateY(-9.5px) rotate(-45deg) ;
              transform: translateY(-9.5px) rotate(-45deg) ;
      -webkit-transform-origin: center;
          -ms-transform-origin: center;
              transform-origin: center;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      -o-transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  /* Hero */

  .hero__left {
    padding-top: 52px;
    padding-bottom: 51px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 5px;
  }

  .hero__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 44px;
  }

  .hero__btn--mod {
    padding: 20px 54px;
    font-size: 16px;
    line-height: 19px;
  }

  /* About */

  .about__container {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .about__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 3px;
  }

  .content__img {
    display: none;
  }

  .content__info {
    width: 100%;
  }

  .about__list {
    gap: 26px;
  }

  .about__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 31px;
  }

  .item__svg {
    margin: 0;
  }

  /* Teachers */

  .teachers__container {
    padding-top: 47px;
    padding-bottom: 47px;
  }

  .teachers__title {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 27px;
  }

  .teachers__list {
    gap: 24px;
  }

  .teachers__item:nth-child(-n+2) {
    margin-bottom: 0px;
  }

  /* Courses */

  .courses__container {
    padding-top: 47px;
    padding-bottom: 47px;
  }

  .courses__title {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 26px;
  }

  .courses__list {
    gap: 31px;
  }

  .courses__item:nth-child(-n+2) {
    margin-bottom: 0px;
  }

  .card__content {
    padding-right: 25px;
    min-height: 468px;
  }

  .card__title {
    margin-right: 30px;
  }

  .card__descr {
    padding-right: 5px;
    margin-bottom: 82px;
  }

  .card__btn--mod {
    padding: 20px 56px;
  }

  .courses__item:nth-child(-n+2) {
    margin-bottom: 0;
  }

}